<style>
    body { margin:0; padding:0; 
      display: flex; flex-direction: column;
    }
     #map { position:absolute; top:0; bottom:0; left: 0; width:100%; }

.map-overlay {
    font: 30px 'Optima', sans-serif;
    color: whitesmoke;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 380px;
    top: 10px;
    left: 0;
    padding: 10px;
    text-shadow:1px 2px 6px rgba(0,0,0,0.8);
}

.map-overlay .map-overlay-inner {
    background-color: rgba(0, 0, 0, 0);
    
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 20vh;
    
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    
}

.map-overlay-bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:60%;
}


.map-overlay-bottom .range-slider {
    margin-top: 0vh;
}

.map-overlay-bottom .rs-range {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50vw;  
    -webkit-appearance: none;
   
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1.5px;
        cursor: pointer;
        box-shadow: 0 1px 4px 0.1px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
    }

  
    &::-webkit-slider-thumb {
  height: 28px;
  width: 16px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  margin: -13px 0;
 
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.5);
} 
    
    
 
}

.map-overlay-bottom .rs-label {
    font-family: 'Optima';
    position: relative;
    transform-origin: center center;
    display: block;
    width: 80px;
    height: auto;
    background: transparent;
    border-radius: 10%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 0px;
    box-sizing: border-box;
    border: 0px solid #fff;
    margin-top: 0px;
    margin-left: -38px;
    left: 95.4%;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-shadow:2px 4px 4px rgba(0,0,0,0.6);

    
}

.map-overlay-mid {
  position: absolute;
  /* width: 10%; */
  /* height: 10%; */
  bottom: 20vh;
  left: 0;

  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 0px;
  display: flex;
  font-family: 'Optima';
}

.map-overlay table {
    border: none;
    width: 100%;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay label {
    font: 18px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    min-width: 220px;
    position: relative;
    margin: 6px 0 0 0;
    cursor: ew-resize;
}

.map-overlay-bottom p.credit {
   margin: 0;
   padding: 0;
   font-family: 'Optima';
   width: 35%;
   padding: auto;
   margin-top: 5px;
   margin-right: 10px;
}

.mapboxgl-popup {
   max-width: 600px;
   min-width: 180px;
   font: 16px/24px ;
   /* 'Helvetica Neue', Arial, Helvetica, sans-serif; */
   font-family: 'Optima';
   padding: 0;
   margin: 0,0,0,20px;
}

.mapboxgl-popup-tip-container {
    width:0px;
    height:0px;
    margin:0 auto;
    position:relative;
  }

.mapboxgl-popup-tip {
    width:0;
    height:0;
    margin:0;
    border-left:0 solid transparent;
    border-right:0 solid transparent;
    border-top:0 solid transparent;
    box-shadow:none;
}

.map-overlay-bottom .cityfly {
  position: absolute;
  border-bottom: 1px;
  border: 1px;
    font: 14px;
    font-family: 'Optima';
    z-index: 1;
}


/* button style*/
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: blue;
  display: inline-block;
  font-family: 'Optima';
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  user-select: none;
  margin-top: 5px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  /* the font color of the last element: 点击后texts"Metro/... on"的颜色*/
  color: rgb(255, 255, 255);  
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/*orange button  */
.button-57-orange {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: orange;
    display: inline-block;
    font-family: 'Optima';
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: rgb(255, 255, 255);
    user-select: none;
    margin-top: 5px;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.button-57-orange span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }

.button-57-orange span:last-child {
    /* the font color of the last element: 点击后texts"Metro/... on"的颜色*/
    color: rgb(255, 255, 255);  
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
.button-57-orange:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.button-57-orange:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57-orange:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}    

 /*red button  */
.button-57-red {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: red;
  display: inline-block;
  font-family: 'Optima';
  font-size: 15px;  
  font-weight: bold;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  user-select: none;
  margin-top: 5px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57-red span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57-red span:last-child {
  /* the font color of the last element: 点击后texts"Metro/... on"的颜色*/
  color: rgb(255, 255, 255);  
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.button-57-red:after {
content: "";
position: absolute;
bottom: -50%;
left: 0;
width: 100%;
height: 100%;
background-color: black;
transform-origin: bottom center;
transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
transform: skewY(9.3deg) scaleY(0);
z-index: 50;
}
.button-57-red:hover:after {
transform-origin: bottom center;
transform: skewY(9.3deg) scaleY(2);
}

.button-57-red:hover span:last-child {
transform: translateX(-50%) translateY(-100%);
opacity: 1;
transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}    


 /*mono button  */
 .button-57-mono {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: black;
  display: inline-block;
  font-family: 'Optima';
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  user-select: none;
  margin-top: 5px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57-mono span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57-mono span:last-child {
  /* the font color of the last element: 点击后texts"Metro/... on"的颜色*/
  color: rgb(255, 255, 255);  
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.button-57-mono:after {
content: "";
position: absolute;
bottom: -50%;
left: 0;
width: 100%;
height: 100%;
background-color: black;
transform-origin: bottom center;
transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
transform: skewY(9.3deg) scaleY(0);
z-index: 50;
}
.button-57-mono:hover:after {
transform-origin: bottom center;
transform: skewY(9.3deg) scaleY(2);
}

.button-57-mono:hover span:last-child {
transform: translateX(-50%) translateY(-100%);
opacity: 1;
transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}    

</style>